/* ---------------------------------- */
/* Sidebar Navigation
------------------------------------- */
.sidebar {
  width: 300px;
  background-color: #f9fafb;
  -webkit-transition: all 300ms 0s ease-in-out;
  transition: all 300ms 0s ease-in-out;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  z-index: 11;
  padding-bottom: 30px;
  overflow: hidden;
  border-right-width: 1px;
}

.sidebar .sidebar_inner {
  padding: 0 12px;
  height: calc(100% - 40px);
}

.sidebar .sidebar_inner ul {
  list-style: none;
  border-top-width: 1px;
  padding: 10px 0;
  margin-top: 12px;
}

.sidebar .sidebar_inner ul:first-child {
  margin: 0;
  padding-top: 5px;
  border: 0;
}

.sidebar .sidebar_inner ul:before {
  content: attr(data-sub-title);
  padding: 0 12px;
  margin-bottom: 8px;
  display: block;
  color: #333333;
  font-weight: 600;
  font-size: 1.125rem;
  line-height: 1.75rem;
}

.sidebar .sidebar_inner ul li {
  /* active state */
  /* hover state */
}

.sidebar .sidebar_inner ul li a {
  border-radius: 10px;
  font-size: 16px;
  color: #585757;
  padding: 10px 12px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  cursor: pointer;
  position: relative;
  font-weight: 600;
  margin-bottom: 4px;
  width: 100%;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.sidebar .sidebar_inner ul li a i {
  padding-right: 10px;
  font-size: 25px;
  color: #909090;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  position: relative;
  top: 2px;
}

/* .sidebar .sidebar_inner ul li a svg {
  width: 26px;
  height: 26px;
  margin-right: 10px;
} */

.sidebar-emo {
  font-size: 24px;
  margin-right: 10px;
}

.sidebar .sidebar_inner ul li a .side-icon {
  margin-right: 0.75rem;
  font-size: 1.3rem;
  line-height: 2rem;
}

.sidebar .sidebar_inner ul li span.nav-tag {
  display: inline-block;
  font-weight: 700;
  height: 19px;
  width: 19px;
  line-height: 19px;
  text-align: center;
  color: #fff;
  font-size: 11px;
  background-color: #2a41e8;
  border-radius: 50%;
  position: relative;
  margin: 0 0 0 4px;
  top: -2px;
}

.sidebar .sidebar_inner ul li.active a,
.sidebar .sidebar_inner ul li.uk-active a {
  background-color: rgba(42, 65, 232, 0.07);
  color: #2a41e8;
}

.sidebar .sidebar_inner ul li a:hover,
.sidebar .sidebar_inner ul li.active-submenu a:hover {
  background-color: #f3f4f6;
}

.sidebar .sidebar_inner ul li.active,
.sidebar .sidebar_inner ul li.uk-active {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
}

.sidebar .sidebar_inner ul li a:after {
  font-family: "Feather-Icons";
  content: "\e92e";
  opacity: 1;
  font-size: 22px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  opacity: 1;
  width: 18px;
  height: 26px;
  color: #a8a8a8;
  position: absolute;
  right: 12px;
  top: 4px;
}

.sidebar .sidebar_inner ul li span.soon,
.sidebar .sidebar_inner ul li span.new {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  right: 0.5rem;
  font-weight: 600;
}

.sidebar .sidebar_inner ul li span.soon {
  line-height: 1.25rem;
  font-size: 0.75rem;
  padding: 0.13rem 0.5rem;
  border-radius: 3rem;
  color: #e07f06;
  background-color: #fef3c7;
}

.sidebar .sidebar_inner ul li span.new {
  font-size: 11.5px;
  padding: 0.5px 5px;
  border-radius: 3px;
  color: #ef4444;
  background-color: #fcdfdf;
}

.sidebar .sidebar_inner ul li ul {
  padding: 0;
  margin: 0;
  border: 0;
  display: none;
  max-height: 0;
  opacity: 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.sidebar .sidebar_inner ul li.active-submenu ul {
  padding: 0 0 10px 35px;
  opacity: 1;
  max-height: inherit;
  pointer-events: all;
  display: inherit;
}

.sidebar .sidebar_inner ul li.active-submenu ul:before {
  display: none;
}

.sidebar .sidebar_inner ul li.active-submenu ul a {
  color: #585757;
  border-radius: 8px;
  background-color: transparent;
}

.sidebar .sidebar_inner ul li.active-submenu a:after {
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
  top: 9px;
  right: 8px;
}

.sidebar .sidebar_inner ul li.active-submenu a:after {
  opacity: 0.8;
}

.sidebar .sidebar_inner ul li ul:before,
.sidebar .sidebar_inner ul li a:only-child:after {
  content: "";
  display: none;
}

.sidebar .sidebar_inner ul.side_links li a {
  padding-top: 8px;
  padding-bottom: 8px;
  margin-bottom: 3px;
  border-radius: 7px;
  font-size: 15.5px;
}

.sidebar .sidebar_inner .side-title {
  margin: 12px 2px 0;
  padding: 12px 12px 0;
  border-top-width: 1px;
  color: #333333;
  font-weight: 600;
  font-size: 1.125rem;
  line-height: 1.75rem;
}

.sidebar .sidebar_inner a.see-mover {
  display: block;
  color: #4b5563;
  height: 2.5rem;
  font-weight: 500;
  margin-top: -8px;
  padding: 5px 8px;
  margin-bottom: 5px;
}

.sidebar .sidebar_inner a.see-mover span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
}

.sidebar .sidebar_inner a.see-mover svg {
  width: 1.75rem;
  padding: 0.125rem;
  margin-right: 0.5rem;
  font-size: 1.125rem;
  line-height: 1.75rem;
  border-radius: 9999px;
  background-color: #f3f4f6;
}

.sidebar .sidebar_inner .footer-links {
  padding: 8px 5px 15px;
}

.sidebar .sidebar_inner .footer-links a {
  color: #6f6f6f;
  line-height: 15px;
  position: relative;
  padding: 3px 0;
  padding-right: 10px;
  font-size: 13.4px;
  font-weight: 500;
}

.sidebar .sidebar_inner .footer-links a:hover {
  color: #000;
  text-decoration: underline;
  background-color: transparent;
}

.sidebar .sidebar_inner .footer-links a::after {
  content: "";
  position: absolute;
  background: #cccccc;
  margin-left: -6px;
  margin-top: 12px;
  left: 0;
  width: 3px;
  height: 3px;
  border-radius: 100%;
}

.sidebar .sidebar_inner .footer-links > :last-child {
  padding: 0;
}

.sidebar .sidebar_inner .footer-links > :first-child::after {
  background: transparent;
}

.sidebar .sidebar_inner ul.contact-list a {
  margin-bottom: 0px !important;
  padding-top: 7px !important;
  padding-bottom: 7px !important;
}

.sidebar .sidebar_inner ul.contact-list a .contact-avatar {
  width: 34px;
  height: 34px;
  margin-right: 12px;
}

.sidebar .simplebar-scrollbar {
  right: 4px !important;
  width: 5px;
}

.sidebar .simplebar-scrollbar:before {
  background-color: #d0d0d0;
}

.sidebar .side_overly {
  background-color: rgba(0, 0, 0, 0.1);
  position: fixed;
  z-index: 2;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: none;
}

/* ---------------------------------- */
/* Sidebar chat
  ------------------------------------- */
.sidechat .sidechat_inner {
  height: calc(100% - 20px);
}

.sidechat .contact-list a {
  display: inline-block;
}

.sidechat .contact-username {
  display: none;
}

.sidechat .contact-list .contact-avatar {
  margin-right: 5px;
}

.sidechat .sidechat_tabs {
  display: none;
}

.sidechat.active {
  width: 280px;
  margin-right: 0;
}

.sidechat.active .sidechat_overly {
  background-color: rgba(7, 7, 7, 0.3);
  right: 280px;
}

.sidechat.active .contact-list a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.sidechat.active .contact-username {
  display: block;
}

.sidechat.active .contact-list .contact-avatar {
  margin-right: 15px;
}

.sidechat.active .sidechat_tabs {
  display: block;
}

@media (min-width: 1024px) {
  .sidebar {
    margin-top: 65px;
  }
  .is-collapse .sidebar {
    width: 80px;
    background-color: white;
  }
  .is-collapse .sidebar .sidebar_inner ul {
    padding: 0;
    border-top-width: 0;
  }
  .is-collapse .sidebar .sidebar_inner ul:first-child {
    padding-top: 10px;
  }
  .is-collapse .sidebar .sidebar_inner ul li > a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 9px 13px;
  }
  .is-collapse .sidebar .sidebar_inner ul li > a i,
  .is-collapse .sidebar .sidebar_inner ul li > a svg {
    padding: 0;
    margin: 0;
  }
  .is-collapse .sidebar .sidebar_inner ul li > a span {
    display: none;
    opacity: 0;
    -webkit-transition: all 800ms 0s ease-in-out;
    transition: all 800ms 0s ease-in-out;
  }
  .is-collapse .sidebar .sidebar_inner ul li > a svg {
    width: 29px;
    height: 29px;
  }
  .is-collapse .sidebar .sidebar_inner ul li > a:after {
    display: none;
  }
  .is-collapse .sidebar .sidebar_inner ul .active-submenu ul {
    display: none;
  }
  .is-collapse .sidebar .contact-list {
    display: inherit !important;
  }
  .is-collapse .sidebar .contact-list .contact-avatar {
    margin: 0px !important;
    width: 30px !important;
    height: 30px !important;
  }
  .is-collapse .sidebar .sidebar_inner ul::before,
  .is-collapse .sidebar .side_foot_links,
  .is-collapse .sidebar .see-mover,
  .is-collapse .sidebar .contact-username,
  .is-collapse .sidebar .user_status,
  .is-collapse .sidebar .user_status,
  .is-collapse .sidebar .side-title,
  .is-collapse .sidebar .footer-links,
  .is-collapse .sidebar hr {
    display: none !important;
  }
  .is-collapse .sidebar .side-icon {
    margin-right: 0 !important;
    font-size: 1.4rem !important;
  }
  .is-collapse .sidebar:hover {
    background-color: white;
    width: 300px;
    -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.04);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.04);
    -webkit-transition: all 300ms 0s ease-in-out;
    transition: all 300ms 0s ease-in-out;
  }
  .is-collapse .sidebar:hover .sidebar_inner ul {
    border-top-width: 1px;
    padding: 10px 0;
  }
  .is-collapse .sidebar:hover .sidebar_inner ul li a > {
    padding: 11px 15px;
  }
  .is-collapse .sidebar:hover .sidebar_inner ul li a > i,
  .is-collapse .sidebar:hover .sidebar_inner ul li a > svg {
    margin-right: 10px;
  }
  .is-collapse .sidebar:hover .sidebar_inner ul li a > span {
    display: inline;
    opacity: 1;
    -webkit-transition: all 800ms 0s ease-in-out;
    transition: all 800ms 0s ease-in-out;
  }
  .is-collapse .sidebar:hover .sidebar_inner ul li a:after {
    display: inline-block;
  }
  .is-collapse .sidebar:hover .sidebar_inner ul .active-submenu ul {
    display: inherit;
    padding: 0 0 10px 35px !important;
  }
  .is-collapse .sidebar:hover .sidebar_inner ul::before,
  .is-collapse .sidebar:hover .side_links,
  .is-collapse .sidebar:hover .side_foot_links,
  .is-collapse .sidebar:hover .see-mover,
  .is-collapse .sidebar:hover .side-title,
  .is-collapse .sidebar:hover .contact-username,
  .is-collapse .sidebar:hover .user_status,
  .is-collapse .sidebar:hover hr {
    display: block !important;
  }
  .is-collapse .sidebar:hover .contact-avatar {
    margin-right: 12px !important;
    width: 34px !important;
    height: 34px !important;
  }
  .is-collapse .sidebar:hover .side-icon {
    margin-right: 0.75rem !important;
    font-size: 1.3rem !important;
  }
  .is-collapse .main_content {
    margin-left: 80px;
  }
  .is-small .sidebar {
    width: 80px;
    background-color: white;
    overflow: visible;
  }
  .is-small .sidebar .sidebar_inner {
    padding: 12px;
  }
  .is-small .sidebar .sidebar_inner ul {
    padding: 0;
    border-top-width: 0;
  }
  .is-small .sidebar .sidebar_inner ul li > a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 6px 15px;
  }
  .is-small .sidebar .sidebar_inner ul li > a svg {
    width: 35px;
    height: 35px;
  }
  .is-small .sidebar .sidebar_inner ul li > a i,
  .is-small .sidebar .sidebar_inner ul li > a svg {
    padding: 0;
    margin: 0;
  }
  .is-small .sidebar .sidebar_inner ul li > a:after {
    display: none;
  }
  .is-small .sidebar .sidebar_inner ul .active-submenu ul {
    display: none;
  }
  .is-small .sidebar .sidebar_inner ul li a span,
  .is-small .sidebar .contact-list .contact-username {
    position: absolute;
    left: 88%;
    top: 20%;
    display: inline-block;
    line-height: 26px;
    margin-left: 10px;
    background: rgba(57, 62, 65, 0.95);
    color: #fff;
    white-space: nowrap;
    opacity: 0;
    -webkit-transform: scale(0.7);
    transform: scale(0.7);
    -webkit-transform-origin: left center;
    transform-origin: left center;
    pointer-events: none;
    transition: opacity 0.2s, transform 0.2s, -webkit-transform 0.2s;
    font-weight: 600;
    font-size: 13px;
    letter-spacing: -0.24px;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.22);
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.22);
    line-height: 1.3;
    padding: 7px 15px;
  }
  .is-small .sidebar .sidebar_inner ul li a span:before,
  .is-small .sidebar .contact-list .contact-username:before {
    position: absolute;
    top: 11.5px;
    left: -5px;
    margin-top: -3px;
    content: "";
    display: inline-block;
    border-top: 5px solid transparent;
    border-right: 5px solid rgba(57, 62, 65, 0.95);
    border-bottom: 5px solid transparent;
  }
  .is-small .sidebar .sidebar_inner ul::before,
  .is-small .sidebar .side_foot_links,
  .is-small .sidebar .side_links,
  .is-small .sidebar .see-mover,
  .is-small .sidebar .is-title,
  .is-small .sidebar .contact-username,
  .is-small .sidebar .user_status,
  .is-small .sidebar .side-title,
  .is-small .sidebar .footer-links,
  .is-small .sidebar .sidebar_inner ul li a span.new,
  .is-small .sidebar .sidebar_inner ul li a span.soon,
  .is-small .sidebar hr {
    display: none !important;
  }
  .is-small .sidebar .contact-list {
    display: inherit !important;
  }
  .is-small .sidebar .contact-list .contact-avatar {
    width: 30px !important;
    height: 30px !important;
    margin: 0 -3px !important;
  }
  .is-small .sidebar .sidebar_inner ul li:hover a span,
  .is-small .contact-list a:hover .contact-username {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  .is-small .main_content {
    margin-left: 80px;
  }
  .sidechat {
    background: white;
    -webkit-transition: all 300ms 0s ease-in-out;
    transition: all 300ms 0s ease-in-out;
    position: fixed;
    top: 0;
    right: 0;
    width: 80px;
    height: 100vh;
    padding-top: 65px;
    -webkit-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1),
      0 1px 2px 0 rgba(0, 0, 0, 0.06);
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  }
  .sidechat .sidechat_overly {
    -webkit-transition: all 300ms 0s ease-in-out;
    transition: all 300ms 0s ease-in-out;
    width: 100%;
    height: 100%;
    top: 0;
    background: transparent;
    position: fixed;
    z-index: 1;
    cursor: pointer;
  }
}

@media (max-width: 1200px) {
  .sidebar {
    margin-left: -300px;
    padding: 0;
    background: transparent;
  }
  .sidebar .sidebar_inner {
    width: 300px;
    background-color: white;
    height: 100vh;
    position: relative;
    z-index: 3;
  }
  .is-active .sidebar {
    width: 100%;
    margin-left: 0;
    z-index: 1099;
  }
  .is-active .sidebar .btn-mobile::before {
    display: block;
  }
  .is-active .sidebar .side_overly {
    display: inherit;
  }
  .sidechat .sidechat_inner {
    display: none;
  }
  .sidechat.active {
    margin-right: 0 !important;
  }
  .sidechat.active .sidechat_inner {
    height: calc(100% - 70px);
    background-color: white;
    width: 100%;
    position: fixed;
    top: 65px;
    padding-top: 12px;
    left: 0;
    z-index: 10;
    display: block;
  }
  .sidechat .sidechat_overly {
    position: fixed;
    top: 33px;
    right: 33px !important;
    z-index: 100;
  }
  .sidechat .sidechat_overly::before {
    font-family: "Feather-Icons";
    font-size: 22px;
    content: "\e991";
    line-height: 30px;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    position: absolute;
  }
  .sidechat.active .sidechat_overly::before {
    content: "\ea02";
  }
  /*hide chat icon on when search box toggled */
  .show-searchbox ~ .sidechat .sidechat_overly::before {
    display: none;
  }
}
