@media (min-width: 1200px) {
  .main_content {
    margin-left: 300px;
  }
  .mcontainer {
    max-width: 1000px;
    padding: 30px 10px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (max-width: 1200px) {
  .main_content {
    padding-top: 65px !important;
    padding-bottom: 50px;
  }
  .mcontainer {
    padding: 25px 15px;
  }
}
